binds {
  Alt+Enter { spawn "kitty" }

  Alt+Shift+f { toggle_float }

  Alt+f { toggle_fullscreen }
  Alt+g { toggle_maximized }

  Alt+e { switch_direction }
  Alt+b { make_group vertical }
  Alt+n { make_group horizontal }

  XF86AudioPlay { spawn "playerctl play-pause" }
}

decoration {
  border-size 5
  border-color "#00f"

  titlebar-height 30
  titlebar-color "#fff"

  button-size 20
  close-button-color "#f00"
  maximize-button-color "#0f0"
}

layout {
  gap 30
}
